 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a Junior Computer Science Student currently enrolled in the BS/MS program at the University at Buffalo</p>
                </div>
                <div class="col-lg-4">
                    <p>My experience currently involves lots of computational social science and NLP however I am interested in all things machine learning</p>
                </div>
            </div>
        </div>
    </section>
